header.header {
  max-height: 72px;
  height: 72px;

  @media (max-width: 900px) {
    max-height: 60px;
    height: 60px;
  }
}

.closeButton {
  position: absolute;
  right: 0;

  .closeIcon {
    font-size: 2rem;
  }
}


